{% sw_extends '@Storefront/storefront/page/checkout/_page.html.twig' %}

{% set iconSizeCheckout = config('EmzFreeDeliver.config.iconSizeCheckout') %}
{% set iconColorCheckout = config('EmzFreeDelivery.config.iconColorCheckout') %}
{% set textColorCheckout = config('EmzFreeDelivery.config.textColorCheckout') %}
{% set backgroundColorCheckout = config('EmzFreeDelivery.config.backgroundColorCheckout') %}
{% set progressBarColorCheckout = config('EmzFreeDelivery.config.progressBarColorCheckout') %}

{% block page_checkout_summary_list %}
    {{ parent() }}

    {# Icon + Text + Bar #}
    {% if config('EmzFreeDelivery.config.dropdownDisplayStyleCheckout') == 'checkoutOpt2'  %}
        <div class="emz-container emz-checkout">
            {% sw_icon 'truck' style {
                'namespace': 'EmzFreeDelivery',
                'pack': 'default'
            } %}
            <div class="emz-progress-bar">
                <div class="progress"></div>
            </div>
            <div class="emz-free-delivery-text"> {{ "emz-free-delivery.offcanvas-checkout.description"|trans ({ remainingValue: 25|currency }) }}</div>
        </div>
    {% endif %}

    {# Text + Bar #}
    {% if config('EmzFreeDelivery.config.dropdownDisplayStyleCheckout') == 'checkoutOpt1'  %}
        <div class="emz-container emz-checkout">

            <div class="emz-free-delivery-text"> {{ "emz-free-delivery.offcanvas-checkout.description"|trans ({ remainingValue: 25|currency }) }}</div>
            <div class="emz-progress-bar">
                <div class="progress"></div>
            </div>
        </div>
    {% endif %}

    {# Icon + Bar #}
    {% if config('EmzFreeDelivery.config.dropdownDisplayStyleCheckout') == 'checkoutOpt3'  %}
        <div class="emz-container emz-checkout">
            <div class="icon-bar-container">
                {% sw_icon 'truck' style {
                    'namespace': 'EmzFreeDelivery',
                    'pack': 'default'
                } %}

                <div class="emz-progress-bar">
                    <div class="progress"></div>
                </div>
            </div>  
        </div>
    {% endif %}

    {# Text #}
    {% if config('EmzFreeDelivery.config.dropdownDisplayStyleCheckout') == 'checkoutOpt4'  %}
        <div class="emz-container emz-checkout">

            <div class="emz-free-delivery-text"> {{ "emz-free-delivery.offcanvas-checkout.description"|trans ({ remainingValue: 25|currency }) }}</div>

        </div>
    {% endif %}

{% endblock %}
